* text=auto !eol
CVSROOT/checkoutlist -text
CVSROOT/commitinfo -text
CVSROOT/config -text
CVSROOT/cvswrappers -text
CVSROOT/editinfo -text
CVSROOT/loginfo -text
CVSROOT/modules -text
CVSROOT/notify -text
CVSROOT/rcsinfo -text
CVSROOT/taginfo -text
CVSROOT/verifymsg -text
qmailadmin/AUTHORS -text
qmailadmin/BUGS -text
qmailadmin/COPYING -text
qmailadmin/ChangeLog -text
qmailadmin/FAQ -text
qmailadmin/INSTALL -text
qmailadmin/Makefile.am -text
qmailadmin/Makefile.in -text
qmailadmin/NEWS -text
qmailadmin/README -text
qmailadmin/README.hooks -text
qmailadmin/TODO -text
qmailadmin/TRANSLATORS -text
qmailadmin/aclocal.m4 -text
qmailadmin/alias.c -text
qmailadmin/alias.h -text
qmailadmin/auth.c -text
qmailadmin/auth.h -text
qmailadmin/autorespond.c -text
qmailadmin/autorespond.h -text
qmailadmin/cgi.c -text
qmailadmin/cgi.h -text
qmailadmin/command.c -text
qmailadmin/command.h -text
qmailadmin/config.guess -text
qmailadmin/config.h.in -text
qmailadmin/config.sub -text
qmailadmin/configure -text
qmailadmin/configure.in -text
qmailadmin/contrib/README.alias2forward -text
qmailadmin/contrib/alias2forward.pl -text
qmailadmin/depcomp -text
qmailadmin/dotqmail.c -text
qmailadmin/dotqmail.h -text
qmailadmin/forward.c -text
qmailadmin/forward.h -text
qmailadmin/html/README -text
qmailadmin/html/add_autorespond.html -text
qmailadmin/html/add_forward.html -text
qmailadmin/html/add_listdig.html -text
qmailadmin/html/add_listmod.html -text
qmailadmin/html/add_listuser.html -text
qmailadmin/html/add_mailinglist-idx.html -text
qmailadmin/html/add_mailinglist-no-idx.html -text
qmailadmin/html/add_user.html -text
qmailadmin/html/change_password.html -text
qmailadmin/html/change_password_success.html -text
qmailadmin/html/colortable -text
qmailadmin/html/del_autorespond_confirm.html -text
qmailadmin/html/del_forward_confirm.html -text
qmailadmin/html/del_listdig.html -text
qmailadmin/html/del_listmod.html -text
qmailadmin/html/del_listuser.html -text
qmailadmin/html/del_mailinglist_confirm.html -text
qmailadmin/html/del_user_confirm.html -text
qmailadmin/html/footer.html -text
qmailadmin/html/header.html -text
qmailadmin/html/main_menu.html -text
qmailadmin/html/mod_autorespond.html -text
qmailadmin/html/mod_dotqmail.html -text
qmailadmin/html/mod_mailinglist-idx.html -text
qmailadmin/html/mod_user.html -text
qmailadmin/html/setremotecatchall.html -text
qmailadmin/html/show_autorespond.html -text
qmailadmin/html/show_digest_subscribers.html -text
qmailadmin/html/show_forwards.html -text
qmailadmin/html/show_login.html -text
qmailadmin/html/show_mailinglist.html -text
qmailadmin/html/show_moderators.html -text
qmailadmin/html/show_subscribers.html -text
qmailadmin/html/show_users.html -text
qmailadmin/images/delete.png -text
qmailadmin/images/disabled.png -text
qmailadmin/images/lowerleft.png -text
qmailadmin/images/lowermiddle.png -text
qmailadmin/images/lowerright.png -text
qmailadmin/images/main.png -text svneol=unset#unset
qmailadmin/images/main1.png -text
qmailadmin/images/main2.png -text
qmailadmin/images/middleleft1.png -text
qmailadmin/images/middleleft2.png -text
qmailadmin/images/middlelogin.png -text
qmailadmin/images/middleright1.png -text
qmailadmin/images/modify.png -text
qmailadmin/images/pixel.png -text
qmailadmin/images/radio-off.png -text
qmailadmin/images/radio-on.png -text
qmailadmin/images/trash.png -text
qmailadmin/images/upperleft.png -text
qmailadmin/images/uppermiddle1.png -text
qmailadmin/images/uppermiddle2.png -text
qmailadmin/images/upperright.png -text
qmailadmin/install-sh -text
qmailadmin/lang/bg -text
qmailadmin/lang/cs -text
qmailadmin/lang/da -text
qmailadmin/lang/de -text
qmailadmin/lang/en -text
qmailadmin/lang/es -text
qmailadmin/lang/fi -text
qmailadmin/lang/fr -text
qmailadmin/lang/hu -text
qmailadmin/lang/it -text
qmailadmin/lang/ja -text
qmailadmin/lang/lt -text
qmailadmin/lang/nl -text
qmailadmin/lang/no -text
qmailadmin/lang/pl -text
qmailadmin/lang/pt-br -text
qmailadmin/lang/ru -text
qmailadmin/lang/sk -text
qmailadmin/lang/sv -text
qmailadmin/lang/tr -text
qmailadmin/lang/zh-cn -text
qmailadmin/limits.c -text
qmailadmin/limits.h -text
qmailadmin/ltmain.sh -text
qmailadmin/mailinglist.c -text
qmailadmin/mailinglist.h -text
qmailadmin/missing -text
qmailadmin/mkinstalldirs -text
qmailadmin/printh.c -text
qmailadmin/printh.h -text
qmailadmin/qmailadmin.c -text
qmailadmin/qmailadmin.h -text
qmailadmin/qmailadminx.h -text
qmailadmin/show.c -text
qmailadmin/show.h -text
qmailadmin/stamp-h.in -text
qmailadmin/template.c -text
qmailadmin/template.h -text
qmailadmin/user.c -text
qmailadmin/user.h -text
qmailadmin/util.c -text
qmailadmin/util.h -text
